sky:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: localhost
    port: 3306
    database: your_db
    username: your_username
    password: your_password
  alioss:
    endpoint: oss-cn-beijing.aliyuncs.com
    access-key-id: your_access_key_id
    access-key-secret: your_access_key_secret
    bucket-name: your_bucket_name
  redis:
    host: localhost
    port: 6379
    database: 0
  wechat:
    appid: your_appid
    secret: your_secret

